input.ng-touched.ng-invalid{
    border:red solid 2px;
}

small{
    color:red
}

.error-border {
    border: 1px solid red;
  }

  .card{
    background-color:lightcyan;
    width:45%
  }
  input{
    width:150%
  }

  h4{
    color:orangered
  }