<html>
  <br />
  <br />
  <div class="container text-center">
    <div class="card" style=" padding: 20px; background-color: azure; width:50%; margin-left: 25%;">
      <div class="card-body" class="text-center">
        <h3>Journey Details</h3>
<hr>

        <span *ngFor="let city of cityDetails">
          <span id="fontStyle" class="heading" *ngIf="city.id == busList.leavingFrom">
            {{ city.city }}</span
          >
        </span>
        <span class="heading">&nbsp;&nbsp;To &nbsp;</span>

        <span class="heading" *ngFor="let city of cityDetails">
          <span id="fontStyle" *ngIf="city.id == busList.leavingTo"> {{ city.city }}</span>
        </span>
        <br />
        <span id="fontStyle">Date & Time : {{ busList.departingOn }}</span>&nbsp;
                <span>{{ busList.deptTime }}</span><br>

        <span id="fontStyle" >{{ busList.busName }}</span><br>
        <span id="fontStyle">Coach Type : {{ busList.coachType }}</span><br>
            
                    <span style="font-family:Arial, Helvetica, sans-serif">Selected Seats : <span style="color:orangered">({{ selectedSeat }})</span></span><br>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="container" style="background-color: rgb(250, 227, 246);">
    <br>
    
    
    <div class="card" style="background-color:whitesmoke">
        <h5 class="text-center">Online Reservation</h5>
        

    <br />
        
            <div class="row" style="background-color: rgb(248, 228, 220);margin-left:1px;">
                <div class="col-md-10">
      <span *ngFor="let city of cityDetails">
        <span style="font-size: large;margin-left: 5px; font-weight: bold;" *ngIf="city.id == busList.leavingFrom"> {{ city.city }} &nbsp;- &nbsp;</span>
      </span>
     

      <span *ngFor="let city of cityDetails">
        <span style="font-size: large;font-weight: bold;" *ngIf="city.id == busList.leavingTo"> {{ city.city }}</span>
      </span>
    </div>
   
<div class="col-md-2" style="font-weight:bold">
      <span > {{ busList.departingOn }} </span><br />
    </div>
    </div>
    <br>
     
     
      
    <div class="card-body" style="background-color:whitesmoke">
      <table >
        <thead>
          <th>Passenger Details</th>
          <th>Ticket Id</th>
          <th>Seat No</th>
          <th>Total Fare</th>
        </thead>
        <td>
          <p style="font-size: large">{{ fullname }}</p>
          <p style="font-style: italic;font-size: small;">{{ email }}</p>
          <p style="font-style: italic;font-size: small;">{{ number }}</p>
        </td>
        <td>yxvcfdrrettwtefyted</td>
        <td>{{ selectedSeat }}</td>
        <td>{{ totalFare }}</td>
      </table>
    </div>
    <br />
    <div class="card-body">
      <table >
        <thead>
          <th>Bus Name</th>
          <th>Reporting Time</th>
          <th>Departure Time</th>
        </thead>
        <td>
          {{ busList.busName }}
          <p style="font-style: italic">Coach Type : {{ busList.coachType }}</p>
        </td>
        <td>Before 30 mts</td>
        <td>{{ busList.deptTime }}</td>
      </table>
    </div>

    <p class="text-danger text-center">
      ** Please bring this copy to ticket counter to collect your ticket
    </p>
  </div>

  </div>
  <br>
  <br>
</html>

<!-- <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title">Ticket Information</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Event Name: Your Event Name</p>
        <p class="card-text">Date: June 30, 2023</p>
        <p class="card-text">Location: Venue Name, City</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-success">Print Ticket</button>
      </div>
    </div>
  </div> -->
